.container-3d {
  perspective: 200px;
  display: flex;
  margin: 50px auto;
  width: 200px;
  height: 200px;
  border: 1px solid;
}
img {
  justify-self: center;
  align-self: center;
}
.item-3d {
  margin: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  border: 1px solid;
  transform: rotateX(0) rotateY(0);
}
